:root {
   --background-color: #0e0f11;     
  --text-color: #f5f5f5;           
  --buttons-color: #45bef1; 
  --addons-color: #17698c;       
  --extra-color: #1f1f1f;   
}



html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  font-family: 'Space Grotesk';
  background: var(--extra-color);
}


@media (min-width: 570px ) and (max-width: 1000px) {
.header {
  color: var(--text-color);
  background:linear-gradient(90deg, #03081a, #050f3e, #15749c) ;
  padding: 10px 10px;
 
}
 
  
  .bio {
text-align: center !important;
}
.o-mnie-section {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 0 40px 0;
  
}
  .btn-cv {
    
  text-decoration: none;
  color: var(--background-color);
  background-color: #15749cb4;
  border-radius: 20px;
  padding: 20px;
  border: solid var(--extra-color);
  font-weight: 500;
  font-size: 20px;
  transition: background-color 0.7s ease, transform 0.7s ease;
}
}

@media (min-width:680px ){

  .header {
  color: var(--text-color);
  background:linear-gradient(90deg, #03081a, #050f3e, #15749c) ;
  padding: 10px 10px;
 
}
  .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 20px 20px;
  gap: 5%;
  color: var(--text-color);
  
  
}
.hamburger {
  font-size: 20px;
  background: none;
  border: none;
  color: white;
  display: none;
  cursor: pointer;
}


.nav-link {
  text-decoration: none;
  color: var(--text-color);
  font-weight:500;
  font-size: 21px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s ease;
  position: relative;
  
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 5px;
  height: 2px;
  background-color: var(--buttons-color);
  transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

.nav-link:hover {
  color: var(--buttons-color);
}

.my-img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: center 40%; 
  border-radius: 50%;
  border: 3px solid var(--addons-color);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease, box-shadow 0.5s ease;
}

.bio {
  font-size: 20px;
  max-width: 500px;
  color: var(--text-color);
  line-height: 1.6;
  font-weight: 300;
  text-align: left;
  font-family: 'Space Grotesk';
  padding: 0 15px 0 15px;
}

.o-mnie-section {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 0 40px 0;
  
}

}




@media (max-width: 680px){

  .header {
  color: var(--text-color);
  background:linear-gradient(90deg, #03081a, #050f3e, #03081a) ;
  padding: 10px 10px;
  z-index: 9000 ;
  position: absolute;
  width: 95vw;
  
 
}
  .hamburger{
    display: block;
    font-size: 22px;
    background: none;
    align-items: center;
    border:solid 2px var(--buttons-color);
    color: var(--text-color);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease;
    max-width: fit-content;
    
    
  }

  .burger{
    
    font-size: 20px;

    
    transition:  0.5s ease;
    text-align: center;
  
    
  
    
  }
  

  .hamburger.active .burger{
  
    transform: rotate(90deg) scale(1.05);
    
  
    

  }
  .hamburger.active{
     transform: scale(1.1);
  }
  
  .navbar {
    display: flex;
    max-height: 0;
    overflow: hidden;
    background-color:none;
    opacity: 0;
    flex-direction: column;
    padding: 0;
    
    transition: max-height 0.5s linear, opacity 0.5s ease;
    
   
  }

  .navbar.active {
    max-height: 600px;
    opacity: 1;
    padding: 0 0;
    
  }

  .nav-link {
  text-decoration: none;
  color: var(--text-color);
  font-weight:500;
  font-size: 18px;
  max-width: fit-content;
  margin: 20px 0 10px 0;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s ease;
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 5px;
  height: 2px;
  background-color: var(--buttons-color);
  transition: width 0.3s ease;
}
.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

.nav-link:hover {
  color: var(--buttons-color);
}

.my-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center 40%; 
  border-radius: 50%;
  border: 3px solid var(--addons-color);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease, box-shadow 0.5s ease;
}

.bio {
  font-size: 18px;
  max-width: 500px;
  color: var(--text-color);
  line-height: 1.2;
  font-weight: 300;
  text-align: center;
  padding: 0 15px 0 15px;
}
.o-mnie-section {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  padding: 90px 0 40px 0;
  
}

}



#o-mnie {
  
  position: relative;
  color: black;
  background-image: 
    url("img/Flux_Dev_A_futuristic_digital_backdrop_with_sleek_circuits_wir_2.jpg");
    background-size: cover;

  background-position:  60%;
  background-repeat: no-repeat;
  z-index: 0;
}
#o-mnie::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.501);
  z-index: 1;
}





/* .my-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center 40%; 
  border-radius: 50% 50% 0% 0%; 
  
  transition: transform 0.4s ease, box-shadow 0.5s ease;
} */


.my-img:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 30px var(--buttons-color);
}



.btn-cv {
  text-decoration: none;
  color: var(--text-color);
  background-color: #15749c29;
  border-radius: 20px;
  padding: 20px;
  border: solid #15749ce8;
  font-weight: 300;
  font-size: 20px;
  transition: background-color 0.7s ease, transform 0.7s ease;
}

.btn-cv:hover {
  background-color: #0e0f1168;
  transform: scale(1.05);
  color: var(--buttons-color);
  border: solid var(--buttons-color);
}

.skills-section h2 {
  color: var(--text-color);
  font-size: 36px;
  text-align: center;
  font-weight:  600;
  margin-bottom: 30px;
  position: relative;
}
.skills-section h2::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: var(--buttons-color);
  margin: 10px auto 0 auto;
  border-radius: 2px;
}

.skills-section {
  background-color: var(--background-color);
  padding: 20px 20px 40px 20px;
  
  
  
}

.skills {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skills p {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 22px;
  
}

.skill-row-1,
.skill-row-2 {
  display: flex;
  justify-content: center; 
  gap: 40px;              
  flex-wrap: wrap;        
  margin-bottom: 20px;     
}

.skill-row-1 p,
.skill-row-2 p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #1c1c1c;
  color: var(--text-color);
  min-width: 240px;
  max-width: 240px;
  justify-content: center;
  text-align: center;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.568);
  
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.skill-row-1 p:hover,
.skill-row-2 p:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px var(--addons-color);
  background-color: #2a2a2a;
}
.skill-row-1 img,
.skill-row-2 img{
  width: 28px;
  height: 28px;
}



.portfolio-section{
  background-color: #1a1a1a;
  color: #e6f1ff;
  padding: 20px 20px 60px 20px;
}


.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
  position: relative;
}
.section-title::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: var(--buttons-color);
  margin: 10px auto 0 auto;
  border-radius: 2px;
}


.projects-container{

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap:50px  
  
}



.project-card{
  
  perspective: 1000px;
  height: 380px;
  width: 380px;
  
}

.card-inner{
  transition: transform 0.7s linear;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  
  
}


.project-card:hover .card-inner {
  transform: rotateY(180deg);
}



#card-front-cypress{
  color: var(--text-color);
  background-image: url('https://miro.medium.com/v2/resize:fit:600/0*YtCzzpjWb60A_P3-.png')  ;
  background-size: 300px;
  background-color: #2c2c2c;
  background-position: center bottom 20%;
  background-repeat: no-repeat;
  
}
#card-back-cypress{
  color: var(--background-color);
  background-color: #2c2c2c;
}

#card-back-net{
  background-color: #2c2c2c;
}

#card-front-net {
  background-image: url('https://aveneo.pl/assets/images/technology/netFramework/netFramework.png?v=JxILwTmGfq2kjl6a8ZSM7f9UYYqtGpSX6bk6s0y25p0');
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center bottom 20%;
  background-color: #2c2c2c;
}


.card-front h4{
  
  font-weight: 500;
  text-align: center;
  font-size: 20px;
   font-weight: 400;
   margin: 10px;
}

#card-front-net h3{
  font-size: 22px;
  font-weight: 500;
  color: rgb(162, 113, 214);
  text-align: center;
}


#card-front-cypress h3{
  font-size: 22px;
  font-weight: 500;
  color: rgb(38, 233, 156);
  text-align: center;
}


.card-back p{
  
  font-weight: 300;
  font-size: 17px;
  color: var(--text-color);
  text-align: center;
  padding: 0 10px 0  10px;
}


.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: solid var(--extra-color);
  border-radius: 20px;
  
}

.card-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  

  
}

.project-links{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.project-links a{
  text-decoration: none;
  color: var(--text-color);
  border: 2px solid var(--text-color);
  padding: 10px 20px;
  font-weight: 500;
  margin: 10px;
  border-radius: 30px;
  transition: background-color 0.5s ease, color 0.5s ease,  transform 0.5s ease, border 0.5s ease;

  cursor: pointer;
  
  
} 


.project-links a:hover{
  background-color: var(--text-color);
  color: var(--extra-color);
  border: 2px solid var(--extra-color);
  transform: scale(1.1);
}

.footer{
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px 20px 20px;
  text-align: center; 

  
}

.footer-content h2{
   
   color: var(--text-color);
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;

  
  


}


.footer h2::after{
  content: '';
  display: block;
  

   width: 80px;
  height: 3px;
  background-color: var(--buttons-color);
  margin: 5px auto 0 auto;
  border-radius: 3px;
}

.footer .write-to-me {
  margin: 5px 0;
  font-size: 20px;
  font-weight: 400;
  

}

.contact-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 15px;
  font-size: 16px;
  

}

.contact-links a {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  flex-wrap: nowrap;
  font-weight: 500;
 
  border: 2px solid var(--extra-color);
  transition: background-color 0.3s ease, transform 0.3s ease,   box-shadow 0.3s ease;
}

.contact-links a:hover {
  background-color: var(--background-color);
  transform: scale(1.05);
  box-shadow: 0 0 10px var(--buttons-color);
}

.footer-copy {
  padding: 20px;
  font-size: 13px;
  opacity: 0.4;
}